html
	head
		title="Image Search Abstraction Layer"
	body
		h1="Image Search Abstraction Layer"
		p="This microservice accepts requests to two endpoints https://www.image-sal.glitch.me/search/<insert keywords for images> and https://www.image-sal.glitch.me/latest"
		h3="Example usage:"
			ul 
				li="https://www.image-sal.glitch.me/search/<insert keywords for images>"
		h3="Returns:"
			ul
				li='The first page of results based on the keywords entered in JSON format. You can page through results by adding the `?offset=2`. The offset must be a positive integer.'
		h3="Example usage:"
			ul 
				li="https://www.image-sal.glitch.me/latest
		h3="Returns:"
			ul
				li='The most recent search requests the API has received.'
		
		a(href='https://github.com/whackdev/image-search' target="_blank") GitHub Repo